@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F3F2;
  --foreground: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Header Stylings */
#gradient {
  width: 100%;
  height: 130px;
  margin-top: -75px;
  background: linear-gradient(0deg, rgba(244,243,242,0) 0%, rgba(244,243,242,1) 32%);
}

nav a:hover {
  font-weight: bold;
  color: #164EFF;
}

nav a.active {
  color: #164EFF;
  border: 2px solid #164EFF;
  font-weight: bold;
  border-radius: 100px;
  padding: 0.55rem 1rem;
}

#mentorship {
  color: #164EFF;
  background-color: #F3FF99;
  border-radius: 100px;
  padding: 0.55rem 1rem;
  transition: color 0.5s ease-in-out;
}

/* Neuron Image + Text Stylings */
#big-text {
  color: #164EFF;
  font-size: 6em;
  letter-spacing: 0.2em;
  font-weight: bold;
  transition: color ease 0.2s
}

#big-text:hover {
  color: #F3FF99;
}

/* Home Page Stylings */
#blue-box {
  background-color: #164EFF;
  color: #F3FF99;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

#club-description {
  color: #164EFF;
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 142px;
  padding-left: 142px;
}

#small-description {
  color: #164EFF;
  text-align: center;
  padding-bottom: 50px;
}

#blue-header {
  color: #164EFF;
  text-align: left;
  font-size: 1.75em;
  padding-top: 32px;
  padding-left: 142px;
}

#blue-header-home {
  color: #164EFF;
  text-align: left;
  font-size: 1.75em;
  padding-top: 32px;
}

#rsvp-home {
  background-color: white;
  color: #164EFF;
  border: 1px solid #164EFF;
  border-radius: 100px;
  padding: 6px 66px;
  font-size: 0.9em;
}

#rsvp-home:hover {
  color: white;
  background-color: #164EFF;
}

/* Pagination Stylings */
#arrow-button:disabled {
  opacity: 50%;
}

.numbers {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
}

.current-number {
  background-color: #164EFF;
  border-radius: 100px;
  color: white;
  padding: 6px 14px;
}

/* People Page Stylings */
#circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border-width: 4px;
  border-color: #F3FF99; 
  align-self: center;
}

#name {
  padding-top: 5px;
  color: #164EFF;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

#role {
  color: #164EFF;
  text-align: center;
  font-weight: bold;
}

#yellow-box {
  background-color: #F3FF99;
  color: #164EFF;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Events Page Stylings */
#event-header {
  color: #164EFF;
  text-align: left;
  font-size: 1.75em;
  padding-top: 32px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.academic, .networking {
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 0.9em;
}

.academic-active {
  color: #164EFF;
  font-weight: bold;
  background-color: #F3FF99;
  border: 1px solid #F3FF99;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 0.9em;
}

.networking-active {
  color: #164EFF;
  font-weight: bold;
  background-color: #BEFF99;
  border: 1px solid #BEFF99;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 0.9em;
}

/* Event Card Stylings */
#academic-box {
  color: #164EFF;
  font-weight: bold;
  background-color: #F3FF99;
  padding: 4px 10px;
  font-size: 0.8em;
}

#networking-box {
  color: #164EFF;
  font-weight: bold;
  background-color: #BEFF99;
  padding: 4px 10px;
  font-size: 0.8em;
}

#rsvp {
  background-color: white;
  color: #164EFF;
  border: 1px solid #164EFF;
  border-radius: 100px;
  padding: 6px 48px;
  font-size: 0.9em;
}

#rsvp:hover {
  color: white;
  background-color: #164EFF;
}

#no-events {
  color: #164EFF;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
}

/* Mentorship Page Stylings */
#description-headers {
  color: #164EFF;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 32px;
  padding-top: 32px;
}

#mentorship-description {
  color: #164EFF;
  text-align: center;
  font-size: 1.2em;
}

/* Membership Component Stylings */
#join-header {
  color: #164EFF;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}

#mentorship-container {
  max-width: 800px;
  padding: 30px 40px;
  border-radius: 24px;
  border: 1px solid #164EFF;
  color: #164EFF;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#mentorship-button {
  border: 1.8px solid #164EFF;
  background-color: white;
  border-radius: 100px;
  color: #164EFF;
  padding: 6px 36px;
}

#mentorship-button:hover {
  color: #F3FF99;
  background-color: #164EFF;
}

/* Contact Page Stylings */
#hover-wrapper {
  position: relative;
  display: inline-block;
}

#hover-bubble {
  position: absolute;
  top: 55%;
  left: 75px;
  z-index: 5;
  transform: translateY(-10%);
  background-color: white;
  border: 1px solid #164EFF;
  color: #164EFF;
  border-radius: 100px;
  padding: 4px 20px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity ease 0.2s;
}

#hover-wrapper:hover #hover-bubble {
  opacity: 1;
}